{if segment_3 == ""}
<div ng-cloak>
<style type="text/css">
	.button.button-block, .button.button-full {
		margin-top:0;
	}
</style>
<ion-view title="AirTab Friends" ng-controller="friendController">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    	
       {!-- --}
    	<button class="button button-icon button-clear" onClick="window.location.href='#/app/addfriend_via_contact';"  >
		  <i class="icon ion-android-contacts"></i>
		</button>
		
		
    	<button class="button button-icon button-clear" onClick="window.location.href='#/app/addfriend';">
		  <i class="icon ion-person-add"></i>
		</button>
		
		
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
    	{!--  --}
    	<div class="list" ng-init="getFriends()" ng-bind-html="friends">
		</div>
		<button class="button button-block button-assertive" onClick="window.location.href='#/app/addfriend';">
		  Add A Friend
		</button>
		
		
    </ion-content>
</ion-view>
</div>
{/if}

{!-- ***************************************************************************************************** --}
{if segment_3 == "main_DEL"}
<div ng-cloak>
<style type="text/css">
	.button.button-block, .button.button-full {
		margin-top:0;
	}
</style>
<ion-view title="AirTab Friends" ng-controller="friendController">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    	
    	<button class="button button-icon button-clear" onClick="window.location.href='#/app/addfriend_via_contact';" >
		  <i class="icon ion-android-contacts"></i>
		</button>
		
    	<button class="button button-icon button-clear" onClick="window.location.href='#/app/addfriend';">
		  <i class="icon ion-person-add"></i>
		</button>
		
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
    	{!-- --}
    	<div class="list" ng-init="getFriends()" ng-bind-html="friends">
		</div>
		<button class="button button-block button-assertive" onClick="window.location.href='#/app/addfriend';">
		  Add A Friend
		</button>
		
    </ion-content>
</ion-view>
</div>
{/if}


{!-- ***************************************************************************************************** --}


{if segment_3 == "popover"}
<ion-popover-view>
	<ion-header-bar>
	  <h1 class="title">Add A Friend</h1>
	</ion-header-bar>
	<ion-content>
	  <div class="list">
	  	<a class="item" href="#/app/addfriend/username">Add by AirTab Username</a>
	  	<div class="item-divider">Email</div>
	  	<a class="item" href="#/app/addfriend/username">Enter Email Address</a>
	  	<a class="item" href="#/app/addfriend/username">Select From Device Address Book</a>
	  	<div class="item-divider">Text Message</div>
	  	<a class="item" href="#/app/addfriend/username">Enter Mobile Number</a>
	  	<a class="item" href="#/app/addfriend/username">Select From Device Address Book</a>
	  </div>
	</ion-content>
</ion-popover-view>
{/if}

{if segment_3 == "options"}
<div ng-cloak>
<ion-view title="AirTab Friends">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" has-tabs="true" id="checkoutModal" ng-controller="sendDrinkFriend">
    		
    
			<div class="list">
				<img src="{exp:airtab:avatar member="{segment_4}" size="640"}" width="100%">
				{exp:member:custom_profile_data member_id="{segment_4}"}
						<h4 style="text-align:center">{FName} {LName}</h4>
						<h5 style="text-align:center; margin-bottom:0px;">{username}</h5>
				{/exp:member:custom_profile_data}
				{exp:airtab:get_user_info member_id="{segment_4}"}
				{if bday_m != ""}<h5 style="text-align:center; margin-bottom:0px;">Birthday: {bday_m}/{bday_d}</h5>{/if}
				{/exp:airtab:get_user_info}
			</div>
			<button class="button  button-block icon ion-wineglass button-assertive" ng-click="sendDrink('Premium', '{segment_4}')"> Send Drink</button>
			<div ng-controller="friendController">
			<button class="button  button-block icon ion-trash-a button-assertive" ng-click="confirmRemove({segment_4})" ng-init="$root.hideLoading();"> Remove Friend</button>
			</div>
    </ion-content>
</ion-view>
</div>
{/if}

{if segment_3 == "request"}
{exp:airtab:log_page_load}
<div ng-cloak>
<ion-view title="AirTab Friends" ng-init="$root.hideLoading()">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-init="hideNav()" has-tabs="true" id="checkoutModal" ng-controller="sendDrinkFriend">
			<div class="list">
				<div class="item item-avatar-left item-icon-right ">
					{exp:member:custom_profile_data member_id="{segment_4}"}
						<img src="{exp:airtab:avatar member="{segment_4}" size="90"}" width="40" height="40">
						<h2>{screen_name}</h2>
						<p>{username}</p>
					{/exp:member:custom_profile_data}		
				</div>
			</div>
			<h4 style="text-align:center">The user above would like to be your friend on AirTab. What would you like to do?</h4>
			<div ng-controller="friendController">
			<button class="button  button-block icon ion-checkmark-round button-balanced" ng-click="acceptRequest({segment_4})"> Accept Request</button>
			<button class="button  button-block icon ion-close-round button-assertive" ng-click="declineRequest({segment_4})"> Decline Request</button>
			</div>
    </ion-content>
</ion-view>
</div>
{/if}

{if segment_3 == "list"}
			<div class="item-divider">
			    Friend Requests
			</div>
		{exp:query sql="SELECT * FROM v_friends WHERE status='Pending Approval' AND friend_id={logged_in_member_id} ORDER BY sender_screen_name ASC"}
				{embed="mobile/friend_info" member_id="{sender_id}" status="{status}" href="#/app/friends/request/{sender_id}"}
			{if no_results}<h5 style="text-align:center; margin-top:10px">You have no friend requests</h5>{/if}
		{/exp:query}
    		<div class="item-divider">
			    My Friends
			</div>
						
    	{exp:query sql="SELECT * FROM v_friends WHERE status='Approved' AND (sender_id={logged_in_member_id} or friend_id={logged_in_member_id}) ORDER BY CASE friend_id WHEN {logged_in_member_id}  THEN sender_screen_name ELSE friend_screen_name END ASC"}
			{if sender_id == logged_in_member_id}
				{embed="mobile/friend_info" member_id="{friend_id}" status="{status}" href="#/app/friends/options/{friend_id}"}
			{if:else}
				{embed="mobile/friend_info" member_id="{sender_id}" status="{status}" href="#/app/friends/options/{sender_id}"}
			{/if}
			{if no_results}You do not currently have any AirTab friends. Try adding some!{/if}
		{/exp:query}
{/if}

{if segment_3 == "remove"}
	{exp:airtab:log_page_load}
	{exp:airtab:remove_friend friend_id="{segment_4}"}
{/if}

{if segment_3 == "accept"}
	{exp:airtab:log_page_load}
	{exp:airtab:process_friend_request friend_id="{segment_4}" action="accept"}
{/if}

{if segment_3 == "decline"}
	{exp:airtab:log_page_load}
	{exp:airtab:process_friend_request friend_id="{segment_4}" action="decline"}
{/if}