{!--       
     Author: R Scofield
     File Name: redeemsearch.html
     
     Description:  Used to locate venue that includes a category of gift items in menu
     
	 $root.redeem object contains details on gift being checked/redeemed
	 
     Example:
          
--}

{exp:airtab:log_page_load}


<div ng-cloak>

<ion-view title="Redeem Your Gift">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

   <ion-tabs class="tabs-striped tabs-background-assertive tabs-color-light" ng-controller="RedeemCtrl">

	  <ion-tab title="Near Me" on-select="getNearby();">
	  	<ion-content has-header="true" padding="true" has-tabs="true">
			<div ng-if="$root.location.status == 'disabled'" style="text-align:center">
				<h3>You do not have Location Services enabled.</h3>
				<button ng-click="showLocationPrefs()">Enable Location Services</button>
			</div>
	  		<div ng-repeat="est in nearbyEsts">
		    	<div class="list card" ng-click="redeemAtEstab({{est.id}},{{est.drink_id}});">
		    		<div class="item item-image">
						<img src="{{est.bg}}">
					</div>

					
					<div class="item" style="text-align:center">
					<h2 center>
						{{est.title}}
					</h2>
					{{est.address}},{{est.city}}
					</div>
				</div>
			</div>

			<div ng-show="places">
				<ion-list>
					<ion-item ng-repeat="item in places | filter:query" 
										item="item"
										class="item-avatar"
										ng-click="showModal('{{item.place_id}}')">
											<img src="{{ item.icon }}" height="40px">
									<h2>{{ item.name }}</h2>
									<p>{{ item.vicinity }}</p>
					</ion-item>
				</ion-list>
				<div id="placesAttribs"></div>
				<div style="text-align:center;margin-top:15px"><img src="/assets/img/powered-by-google-on-white.png" /></div>
			</div>
	    </ion-content>
	  </ion-tab>
		
	  <ion-tab title="Search" on-select="refreshSearch();">
	  	<ion-content has-header="true" padding="true" has-tabs="true">
	  		<ion-refresher
			    pulling-text="Pull to refresh..."
			    on-refresh="refreshSearch()">
			</ion-refresher>
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input ng-model="globalSearch.text" type="text" placeholder="Example: Dallas restaurants">
				</label>
				<button class="button button-small" ng-click="refreshSearch()">
					Search
				</button>
			</div>
			<div ng-show="globalPlaces">
				<ion-list>

				        <ion-item ng-repeat="item in globalPlaces" 
				                  item="item"
				                  class="item-avatar"
				                  ng-click="showModal('{{item.place_id}}')">
				                  	<img src="{{ item.icon }}" height="40px">
				          			<h2>{{ item.name }}</h2>
				          			<p>{{ item.formatted_address }}</p>
				        </ion-item>

				</ion-list>
				<div id="placesAttribs"></div>
				<div style="text-align:center;margin-top:15px"><img src="/assets/img/powered-by-google-on-white.png" /></div>
			</div>
	    </ion-content>
	  </ion-tab>

	</ion-tabs>	
</ion-view>
</div>




