{exp:channel:entries channel="site_static_pages"}
{embed="global/meta" title="Airtab Charity Challenge - {title}"}
{exp:airtab:log_page_load}
<body>
<div class="page">
	<!-- Begin Static -->
	<section id="section1" class="dynamic container" style="padding: 0 10px 0 10px">
		<!-- Content -->
		<div class="sixteen columns">
			{page_body}
		</div>
	</section>
	<!-- End Static -->
	{/exp:channel:entries}
	<!-- Begin Footer -->
	<footer>
		<div class="container">
			<p class="copyright">&copy; 2016 Software Development Associates. All Rights Reserved.</p>
		</div>
	</footer>
	<!-- End Footer -->
</div>

	<script src="/assets/airtab/js/libs/prototype.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/libs/scriptaculous.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/libs/sizzle.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/smoothscroll.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/jquery.easing.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/jquery.scrollto.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/jquery.localscroll.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/jquery.bxslider.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/waypoints.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/loupe.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/notifications.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/init.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>