<?php

if(!ee()->session->userdata('member_id')) {
	echo json_encode(array("status"=>"error", "msg"=>"Invalid Username and/or Password"));
} else {
	$userdata = array(
	"status"=>"success", 
	"member_id"	=>	ee()->session->userdata('member_id'), 
	"group_id"	=>	intval(ee()->session->userdata('group_id')),
	"session_id"=>	ee()->session->userdata('fingerprint'), 
	"username"	=>	ee()->session->userdata('username'), 
	"first_name"=>	ee()->session->userdata('screen_name'), 
	"email"			=>	ee()->session->userdata('email'), 
	"avatar"		=>	str_replace(array("\r", "\n"),'','{exp:airtab:avatar member="{logged_in_member_id}" size="28"}'));
	
	if ($userdata['group_id'] == 6) {	
		$db = clone $this->EE->db;
		$db->dbprefix='';	// remove exp_ prefix	
		$results = $db->select('*')
			->from('v_establishment')
			->where(array(
					'member_id' => ee()->session->userdata('member_id')
				))
			->get();		
		if ($results->num_rows() == 1)
		{
			$userdata['venueID'] = intval($results->row("entry_id"));
			$userdata['venueName'] = $results->row("title");
		}			
	}
	
	echo json_encode($userdata);
}

?>

{exp:http_header content_type="application/json"}