{if logged_out}
{}
{if:else}
	{if segment_3 == "threads"}
	[
		{exp:query sql="SELECT * FROM v_messaging_threads WHERE user_id = {logged_in_member_id}"}
		    {
		    	
		    	"avatar": "{exp:airtab:avatar member="
		    	"last_message": "{if last_message_user_id == {logged_in_member_id}}You{if:else}{if last_message_first AND last_message_last}{last_message_first} {last_message_last}{if:else}{last_message_username}{/if}{/if}: {last_message}"
		    }{if count < total_results},{/if}
		    {if no_results}{}{/if}
		{/exp:query}
	]
	{if:elseif segment_3 == "participants"}
	[
		{exp:query sql="SELECT * FROM v_messaging_thread_participants WHERE id = {embed:thread} AND user_id <> {logged_in_member_id}"}
			{
				"user_id": "{user_id}",
				"username": "{username}"
			}{if count < total_results},{/if}
			{if no_results}{}{/if}
		{/exp:query}
	]
	{/if}
{/if}
{exp:http_header content_type="application/json"}