{exp:airtab:log_page_load}
<div ng-cloak>
<div class="bar bar-subheader bar-dark" ng-if="$root.redeem">
  <h4 class="title smaller-title">Where you would like to redeem your drink?</h4>
</div>
<ion-view title="Establishments" ng-init="checkLogin();">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-striped tabs-background-assertive tabs-color-light" ng-controller="estController">

	  <ion-tab title="All Establishments" on-select="loadEstablishments();">
	  	<ion-content has-header="true" padding="true" has-tabs="true" delegate-handle="scrollCtrl" ng-init="doScroll()" ng-class="($root.redeem) ? 'has-subheader' : ''">
	  		<ion-refresher
			    pulling-text="Pull to refresh..."
			    on-refresh="doRefresh()">
			</ion-refresher>
			<div ng-if="$root.location.status == 'disabled'" style="text-align:center">
				<h3>You do not have Location Services enabled.</h3>
				<button ng-click="showLocationPrefs()">Enable Location Services</button>
			</div>
	  		<div ng-repeat="est in $root.establishments">
		    	<div class="list card" ng-click="showEstMenu({{est.id}});">
		    		
					<div class="item item-image">
						<img src="{{est.bg}}">
					</div>

					
					<div class="item" style="text-align:center">
					<h2 center>
						{{est.title}}
					</h2>
					{{est.distance}}
					</div>
				</div>
			</div>
		</ion-content>
	  </ion-tab>

	  <ion-tab title="Near Me" on-select="getNearby();">
	  	<ion-content has-header="true" padding="true" has-tabs="true">
	  		<ion-refresher
			    pulling-text="Pull to refresh..."
			    on-refresh="refreshNearby()">
			</ion-refresher>
			<div ng-if="$root.location.status == 'disabled'" style="text-align:center">
				<h3>You do not have Location Services enabled.</h3>
				<button ng-click="showLocationPrefs()">Enable Location Services</button>
			</div>
	  		<div ng-repeat="est in nearbyEsts">
		    	<div class="list card" ng-click="showEstMenu({{est.id}});">
		    		<div class="item item-image">
						<img src="{{est.bg}}">
					</div>

					
					<div class="item" style="text-align:center">
					<h2 center>
						{{est.title}}
					</h2>
					{{est.distance}}
					</div>
				</div>
			</div>

			<div ng-show="places">
		    	<div style="text-align:center;margin-bottom:15px"><strong>Pending establishments were found.</strong></div>
				 <ion-list>

				        <ion-item ng-repeat="item in places" 
				                  item="item"
				                  class="item-avatar"
				                  ng-click="showModal('{{item.place_id}}')">
				                  	<img src="{{ item.icon }}" height="40px">
				          			<h2>{{ item.name }}</h2>
				          			<p>{{ item.vicinity }}</p>
				        </ion-item>

				</ion-list>

				<div id="placesAttribs"></div>
				<div style="text-align:center;margin-top:15px"><img src="/assets/img/powered-by-google-on-white.png" /></div>
			</div>
	    </ion-content>
	  </ion-tab>

	</ion-tabs>	
</ion-view>
</div>