{exp:channel:entries channel="orders" entry_id="{embed:order_id}" dynamic="no" limit="1" status="not asdfjhkjshdfkjh"}
<?php
	$recipientId = "{order_recipient_id}";
?>
{/exp:channel:entries}
{exp:cartthrob:order_items order_id="{embed:order_id}" }
<?php
$drinkType = "{item:product_type}";

$results = ee()->db->limit(1)
	->where('member_id', $recipientId)
	->get('member_data');

$deviceToken = $results->row('m_field_id_5');

//PayPal Credentials
$clientId = "AWrAOhDVBtLfK63ovtkXHq0IzXCdNDU9QbuyF4R0hOlF8DLUEs_LgxKa9oTw";
$secret = "EFCpLxA2UqxRa9BuXuhvK-D5F1Cl7JJCYVahYxsht_hOg-kKZireGai1GMMh";

	
	
//Create the ticket
ee()->load->library('api');
ee()->api->instantiate('channel_entries');

if ($drinkType == "Premium") {
 	$type = "27";
} else {
	$type = "26"; //Standard
}

//die($type);

$data = array(
    'title'         => "drinkticket-{order_id}",
    'entry_date'    => time(),
    'edit_date'     => time(),
    'field_id_14'    => time(),
    'field_id_15'    => ee()->session->userdata('member_id'),
    'field_id_16'   => $recipientId,
    'field_id_22'   => $type,
    'field_id_41'	=> "{embed:transaction_id}",
    'status'		=> "nonredeemed"
);

//ee()->api_channel_fields->setup_entry_settings(4, $data);

if (ee()->api_channel_entries->save_entry($data, 4) === FALSE)
{
    echo(json_encode(array("status"=>"error", "msg"=>"Could not create ticket. Please contact customer service.")));
    break;
} else {
	$entryid = $this->EE->api_channel_entries->entry_id;
	ee()->db->insert('relationships', array('parent_id' => $entryid, 'child_id'=> $type, "field_id"=>"22"));
	$relationshipId = ee()->db->insert_id();
	echo '<iframe src="airtab:purchaseComplete" style="display:none">';
}

if($deviceToken) {
	
	// My private key's passphrase here:
	$passphrase = 'pw4airtabdev';
	
	// My alert message here:
	$message = ee()->session->userdata('screen_name') . " sent you a drink!";
	
	//badge
	$badge = 1;
	
	$ctx = stream_context_create();
	stream_context_set_option($ctx, 'ssl', 'local_cert', '/var/www/vhosts/airtab.me/httpdocs/push/apns-dev.pem');
	stream_context_set_option($ctx, 'ssl', 'passphrase', $passphrase);
	
	// Open a connection to the APNS server
	$fp = stream_socket_client(
	    'ssl://gateway.sandbox.push.apple.com:2195', $err,
	    $errstr, 60, STREAM_CLIENT_CONNECT|STREAM_CLIENT_PERSISTENT, $ctx);
	
	if (!$fp)
	exit("Failed to connect: $err $errstr" . PHP_EOL);
	
	//echo 'Connected to APNS' . PHP_EOL;
	
	// Create the payload body
	$body['aps'] = array(
	    'alert' => $message,
	    //'badge' => $badge,
	    'sound' => "glass-clink-2.aiff"
	);
	
	// Encode the payload as JSON
	$payload = json_encode($body);
	
	// Build the binary notification
	$msg = chr(0) . pack('n', 32) . pack('H*', $deviceToken) . pack('n', strlen($payload)) . $payload;
	
	// Send it to the server
	$result = fwrite($fp, $msg, strlen($msg));
	
	if (!$result) {
	    //echo 'Error, notification not sent' . PHP_EOL;
	} else {
	    //echo 'notification sent!' . PHP_EOL;
	}
	
	// Close the connection to the server
	fclose($fp);
}

function generateRandomString($length = 10) {
    $characters = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
    $randomString = '';
    for ($i = 0; $i < $length; $i++) {
        $randomString .= $characters[rand(0, strlen($characters) - 1)];
    }
    return $randomString;
}

?>
{/exp:cartthrob:order_items}