        
<div id="nav-wrapper" data-nice-scroll>
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-highlight-active>
				<li><a href="#/dashboard"> <i class="fa fa-home"></i><span data-i18n="Dashboard"></span> </a></li>
        <li><a href="#/establishments"> <i class="fa fa-glass"></i><span data-i18n="Establishments"></span> </a></li>
        <li><a href="#/reports/useractivity"> <i class="fa fa-line-chart"></i><span data-i18n="User Activity"></span> </a></li>
				<li><a href="#/reports/drinkactivity"> <i class="fa fa-line-chart"></i><span data-i18n="Drink Activity"></span> </a></li>
    </ul>
</div>