{exp:channel:form channel="est_news"  return="/admin/#/establishments/edit/{segment_3}" entry_id="{segment_3}"}
<div class="page" id="newsEdit">

		<div class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<label for="title" class="control-label">Title</label>
					<input tooltip="News Title" type="text" class="form-control" name="title" id="title" value="{title}" size="50" maxlength="100">
				</div>
			</div>

			<button type="submit" id="submit" class="btn btn-primary">Submit</button>
		</div>




</div>

{/exp:channel:form}