{if embed:type == "senddrink"}
{exp:member:custom_profile_data member_id="{embed:member_id}"}
	<a class="item item-avatar-left item-icon-right " ng-click="showModal('{embed:drinkType}', '{embed:recipient}')">
	{exp:query sql="SELECT email as mail FROM exp_members WHERE member_id = '{embed:member_id}'"}
      <img src="{exp:gravatar email="{mail}" rating="R" size='80'}" width="40" height="40">
    {/exp:query}
      <h2>{screen_name}</h2>
      <p>{username}</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
{/exp:member:custom_profile_data}
{if:else}
{exp:member:custom_profile_data member_id="{embed:member_id}"}
	<a class="item item-avatar-left item-icon-right " href="{embed:href}">
	{exp:query sql="SELECT email as mail FROM exp_members WHERE member_id = '{embed:member_id}'"}
      <img src="{exp:gravatar email="{mail}" rating="R" size='80'}" width="40" height="40">
    {/exp:query}
      <h2>{screen_name}</h2>
      <p>{username}</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
{/exp:member:custom_profile_data}
{/if}