{embed="global/meta" title="AirTab - Establishment Dashboard"}

<body>

	{embed="establishment/header"}
	
	<!-- Begin Static -->
	<section id="section1" class="dynamic container">
		<!-- Content -->
		<div class="sixteen columns">

		</div>
	</section>
	<!-- End Static -->



	<!-- Begin Footer -->
	<footer>
		<div class="container">
			<ul class="footer-action">
				<li><a class="button small" href="#">Download now<i class="go small"></i></a></li>
				<li><a id="top" class="button small" href="#">Back to top<i class="top"></i></a></li>
			</ul>
			<p class="copyright">