{if logged_in}
{preload_replace:template_group="store"}
{preload_replace:template="index"}
<div ng-cloak>
<ion-view title="Payment Information">
    <ion-content has-header="false" padding="true">
					<div ng-controller="checkoutController">
					{if "{exp:cartthrob:total_items_count}" > 0}
								
						{exp:cartthrob:checkout_form
								class="form_checkout"
								name="form_checkout"
								create_user="no" group_id="5"}
 
								{!-- the next part handles inline errors. the error_handling=inline parameter is set
									so standard error messages will not be shown
									 --}
								{if errors_exist}
								<div class="control-group">
									{!-- not a fan of inline JS, but the if_errors conditional works only inside the checkout form 
										so if you want to use JS, you'll need to use inline JS.
										--}
									<script type="text/javascript">
										jQuery(document).ready(function($){
								 			{errors}
												{if field_error}
													$("#{field}").closest(".control-group").addClass("error");
													$("#{field}").after('<span class="help-inline">{error}</span>');
												{/if} 
											{/errors}
										});
									</script>
									{errors}
										{if first_error}
										<div class="alert alert-error">
										<strong>Alert</strong> There are <span class="badge badge-warning">{error:total_results}</span> error(s). Please correct the errors listed below
										</div>
										{/if}
											
											<p>
												{if field_error}<span class="label label-important">{field}</span>{/if} 
												{if global_error}<span class="label label-important">Error</span>{/if} 
												{error}
											</p>
 									{/errors}
									
								</div>
								{/if}
							{if {exp:cartthrob:view_setting allow_gateway_selection="yes"}}
							
							{!-- note: stripe payment gateway does not work well with this gateway switching method
								stripe adds its own JS after the form close, and even when changing the gateway, this JS 
								is not removed, which can lead to erroneous error messages. 
								--}
								<div class="control-group">
							 		<label for="gateway" class="control-label">Select a payment method</label>
								    <div class="controls">
										{exp:cartthrob:customer_info}{exp:cartthrob:gateway_select id="gateway" selected="{gateway}"}{/exp:cartthrob:customer_info} 
									</div>
			 					</div>
							{/if}
							<div id="checkout_form_gateway_fields" class="list">
								<div class="item item-divider">
								    Billing Information
								</div>
									<label class="item item-input ">
									    <input type="text" name="first_name" placeholder="First Name" id="first_name" value="{customer_first_name}" required ng-minlength="2" />
									</label>

									<label class="item item-input ">
									    <input type="text" name="last_name" placeholder="Last Name" id="last_name" value="{customer_last_name}" required ng-minlength="2" />
									</label>

									<label class="item item-input ">
									    <input type="text" name="address" placeholder="Street Address" id="address" value="{customer_address}" required ng-minlength="5" />
									</label>

									<label class="item item-input ">
									    <input type="text" name="city" placeholder="City" id="city" value="{customer_city}" required ng-minlength="3" />
									</label>

									<label class="item item-input item-select">
									    <div class="input-label">
									      State
									    </div>
									{exp:cartthrob:state_select name="state" selected="{customer_state}" extra="required"}
									</label>

									<label class="item item-input ">
									    <input type="text" name="zip" placeholder="Zip Code" id="zip" value="{customer_zip}" required ng-minlength="5" />
									</label>
								<div class="item item-divider">
								    Payment Information
								</div>
									<label class="item item-input item-select">
									    <div class="input-label">
									      Payment Type
									    </div>
									    <select name="card_type"  id="card_type" required>
												<option value="visa"{if customer_card_type == "visa"} selected{/if}>Visa</option>
												<option value="mc"{if customer_card_type == "mc"} selected{/if}>Mastercard</option>
												<option value="amex"{if customer_card_type == "amex"} selected{/if}>American Express</option>
												<option value="discover"{if customer_card_type == "discover"} selected{/if}>Discover</option>
											</select>
									</label>

									<label class="item item-input ">
									    <input type="text" name="credit_card_number" placeholder="Credit Card Number" id="credit_card_number" ng-pattern="/[0-9]*/" required ng-minlength="12" ng-maxlength="19" pattern="[0-9]*" />
									</label>

									<label class="item item-input ">
									    <input type="text" name="CVV2" id="CVV2" value="{customer_CVV2}" placeholder="CVV Number (Back of Card)" ng-pattern="/[0-9]*/" required ng-minlength="3" ng-maxlength="4" pattern="[0-9]*" />
									</label>

									<label class="item item-input item-select">
									    <div class="input-label">
									      Expiration Month
									    </div>
									    <select name="expiration_month" id="expiration_month" class="required" required>
											<option value="01"{if customer_expiration_month == "01"} selected{/if}>January</option>
											<option value="02"{if customer_expiration_month == "02"} selected{/if}>February</option>
											<option value="03"{if customer_expiration_month == "03"} selected{/if}>March</option>
											<option value="04"{if customer_expiration_month == "04"} selected{/if}>April</option>
											<option value="05"{if customer_expiration_month == "05"} selected{/if}>May</option>
											<option value="06"{if customer_expiration_month == "06"} selected{/if}>June</option>
											<option value="07"{if customer_expiration_month == "07"} selected{/if}>July</option>
											<option value="08"{if customer_expiration_month == "08"} selected{/if}>August</option>
											<option value="09"{if customer_expiration_month == "09"} selected{/if}>September</option>
											<option value="10"{if customer_expiration_month == "10"} selected{/if}>October</option>
											<option value="11"{if customer_expiration_month == "11"} selected{/if}>November</option>
											<option value="12"{if customer_expiration_month == "12"} selected{/if}>December</option>
										</select>
									</label>

									<label class="item item-input item-select">
									    <div class="input-label">
									      Expiration Year
									    </div>
									    {exp:cartthrob:year_select years="10" selected="{customer_expiration_year}" extra="required" name="expiration_year" id="expiration_year"}
									</label>

							</div>

							<div class="control-group">
	 						    <div class="form-actions">
								{!-- do not add a name attribute to your submit button if you want it to work with stripe payment gateway --}
								    <input type="submit" id="checkout_complete" class="button button-block button-assertive"  value="Complete Checkout" ng-click="submitForm($event)" ng-disabled="!canSubmit()" />
								</div>
		 					</div>
		 					<input type="hidden" name="order_recipient_id" value="<?=substr(ee()->uri->segment(3), 32)?>">
		 					<input type="hidden" name="order_recipient_type" value="{segment_4}">
		 					<input type="hidden" name="description" value="Send a drink to {embed="payment/recipient" member_id="<?=substr(ee()->uri->segment(3), 32)?>"} (<?=substr(ee()->uri->segment(3), 32)?>)">
	 					{/exp:cartthrob:checkout_form}
	 					<checkoutform>Loading Form...</checkoutform>
	 			{if:else}	
	 					<h1>Checkout</h1>
						 <p>You have no items in your cart. </p>
						<a href="{path={template_group}}" class="button button-block button-assertive">Continue shopping.</a> 
				{/if}
				</div>
    </ion-content>
</ion-view>	
</div>
{if:else}
	<iframe src="airtab:notLoggedIn" style="display:none">
{/if}