<div class="col-md-6">
    <div class="widget-container text-center">
        <a href="https://itunes.apple.com/us/app/airtab/id775158689?ls=1&mt=8" title="AitTab App"><img src="/dashboard/images/app_store.png" style="width:100%;max-width:400px"></a>
    </div>
</div>
<div class="col-md-6">
    <div class="widget-container text-center">
        <a href="https://play.google.com/store/apps/details?id=me.airtab.airtab" title="AitTab App"><img src="/dashboard/images/button-get-it-on-google-play.png" style="width:100%;max-width:400px"></a>
    </div>
</div>