
<div class="table-responsive">
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>Ticket ID</th>
					<th>Redeem Date</th>
					<th>Sender</th>
					<th>Redeemed By</th>
					<th>Drink</th>
				</tr>
			</thead>
			<tbody>
	{exp:query sql="SELECT * FROM v_drink_tickets WHERE redeemed_at_id='{segment_3}' Order By tck_redeem_date desc"}
				<tr>
					<td>
						{ticket_id}
					</td>
					<td>
						{tck_redeem_date format="%m/%d/%y"}
					</td>
					<td>
						{p_member_username}
					</td>
					<td>
						{r_member_username}
					</td>
					<td>
						{redeemed_drink}
					</td>
				</tr>
	{/exp:query}
			</tbody>
		</table>
</div>