<link href="{path=css/_ee_channel_form_css}" type="text/css" rel="stylesheet" media="screen">

{exp:channel:form channel="establishments"  return="/dashboard/#/establishment/{segment_3}" entry_id="{segment_3}" include_jquery="yes" json="yes"}
<div class="page" id="estEdit" data-ng-controller="SubmitCtrl">
<style type="text/css">
	select[name=est_photo_existing], select[name=photo_large_existing] {
		width:100% !important;
	}
</style>


		<div class="form-group">
			<div class="row">
				<div class="col-sm-5">
					<label for="title" class="control-label">Name</label>
					<input tooltip="Establishment Name" type="text" class="form-control" name="title" id="title" value="{title}" size="50" maxlength="100">
				</div>
				<div class="col-sm-4">
					{field:est_photo} 
				</div>
				<div class="col-sm-3">
					<label>Master Redemption Code:</label>
					<?php
						$server_sql = ee()->db->select('m_field_id_15')
							->from('member_data')
							->where(array(
									'member_id' => {est_member_id}
							))->get();

						if ($server_sql->num_rows() >= 0)
						{
							echo '<input type="text" class="form-control" disabled value="' . $server_sql->row("m_field_id_15") . '" />';
						}					
					?>
				</div>
			</div>
			
			<div class="divider"></div>
			
			<div class="row">
				<div class="col-sm-4">
					<label for="address" class="ccontrol-label">Address</label>
					<input type="text" class="form-control" name="address" id="address" value="{address}">
				</div>
				<div class="col-sm-4">
					<label for="city" class="control-label">City</label>
					<input type="text" class="form-control" name="city" id="city" value="{city}">
				</div>
				<div class="col-sm-2">
					<label for="state" class="control-label">State</label>
					<input type="text" class="form-control" name="state" id="state" value="{state}">	
				</div>
				<div class="col-sm-2">
					<label for="zip" class="control-label">Zip</label>
					<input type="text" class="form-control" name="zip" id="zip" value="{zip}">			
				</div>
			</div>
			
			<div class="divider"></div>
			
			<div class="row">
				<div class="col-sm-4">
					<label for="est_phone" class="control-label">Phone Number</label>
					<input type="text" class="form-control" name="est_phone" id="est_phone" value="{est_phone}">
				</div>
				<div class="col-sm-4">
					<label for="est_redeemed_notify" class="control-label">Redemption Notify Number</label>
					<input type="text" class="form-control" name="est_redeemed_notify" id="est_redeemed_notify" value="{est_redeemed_notify}">
				</div>
				<div class="col-sm-4">
					<label class="control-label">Redeem Amount</label>
					<input type="text" class="form-control" disabled value="{redemption_amount}" />	
				</div>
			</div>
			
			<div class="divider"></div>
			
			<div class="row">
				<div class="col-sm-12">
					<label for="est_intro" class="control-label">Establishment BIO</label>
					<textarea rows="5" class="form-control" name="est_intro" id="est_intro">{est_intro}</textarea>			
				</div>
			</div>

			<div class="divider"></div>
			<div class="divider"></div>
			
			<div class="row">
				<div class="col-sm-6">
					Image on establishment detail screen.  Size should be 960 x 480.
					{field:photo_large} 
				</div>
				<div class="col-sm-6">
					{photo_large}
					<img src="/uploads/establishment_large/{file_name}" width="480" height="240"/>
					{/photo_large}
				</div>
			</div>

			<button type="submit" id="submit" class="btn btn-primary">Submit</button>
		</div>




</div>
 
<script type="text/javascript">
                        $(document).ready(function(){
                    		$.getScript("/admin/scripts/jquery.form.js", function() {
                    			$('#publishForm').ajaxForm({
                                    dataType: 'json',
                                    success: function(data) {
                                            if (data.success) {
                                            	angular.element('#estEdit').scope().notify("success", "{title} has been successfully updated.");
                                            } else {
                                            	angular.element('#estEdit').scope().notify("error", 'Failed with the following errors: '+data.errors.join(', '));
                                            }
                                    }
                                });
                    		});
                        });
</script>


{/exp:channel:form}