{if logged_out}
	{embed="dash/login" return="{current_path}" redirect="yes"}
{if:else}
<div class="page">
	<section class="panel panel-default">
		<div class="panel-heading" data-ng-hide="isSpecificPage()"><strong><span class="glyphicon glyphicon-th"></span> My Profile</strong></div>
		<div class="panel-body">

			{exp:freemember:update_profile return="/dashboard/#/profile" require="current_password" error_handling="inline" error_delimiters='<span class="error">|</span>'}

				<p>
					<label for="email">Email</label><br />
					{field:email}<br />
					{error:email}
				</p>

				<p>
					<label for="screen_name">Mobile Phone</label><br />
					{field:Phone}<br />
					{error:Phone}
				</p>
				
				<p>
					<label for="screen_name">Screen Name</label><br />
					{field:screen_name}<br />
					{error:screen_name}
				</p>
				
				<p>
					<label for="username">User Name</label><br />
					{field:username}<br />
					{error:username}
				</p>

				<p>
					<label for="current_password">Current Password</label><br />
					{field:current_password}<br />
					{error:current_password}
				</p>

				<p>
					<label for="password">New Password</label><br />
					{field:password}<br />
					{error:password}
				</p>

				<p>
					<label for="password_confirm">Confirm New Password</label><br />
					{field:password_confirm}<br />
					{error:password_confirm}
				</p>

				<p>
					<input type="submit" class="btn btn-danger btn-lg" value="Update Profile">
				</p>
			{/exp:freemember:update_profile}
			<button type="button" class="btn btn-danger btn-lg" onClick="window.location.href='#/profile/avatar';">Change Profile Picture</button>
		</div>
	</section>
</div>
{/if}