{exp:airtab:log_page_load}
<div ng-cloak>
<style type="text/css">
	.button.button-block, .button.button-full {
		margin-top:0;
	}

	ol {
		list-style-type: decimal !important;
		margin-left:40px;
		font-size: 10pt;
		margin-bottom: 10px;
	}
</style>
{if segment_3 == ""}
<ion-view title="How It Works">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" has-tabs="false" id="mydrinks" ng-init="$root.hideLoading()" ng-controller="aboutCtrl">

    	<div class="card">
    		<div class="item item-text-wrap">
    			<p center>Welcome to AirTab!</p>
    			<p center>An innovative and easy to use social gifting application.</p>
    		</div>
    	</div>

    	<button class="button  button-block button-assertive" ng-click="goTo('howto_send')">How to Send a Drink</button>
      	<button class="button  button-block button-assertive" ng-click="goTo('howto_redeem')">How to Redeem a Drink</button>

    </ion-content>
</ion-view>
{if:elseif segment_3 == "send"}
<ion-view title="How It Works">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" has-tabs="false" id="mydrinks" ng-init="$root.hideLoading()" ng-controller="aboutCtrl">
			<h3 center>To gift someone a Drink</h3>
    	<div class="card">
    		<div class="item item-text-wrap">
					<p>1) Buy a drink for $12.95 and send to a Friend, Relative, or Co-worker using the side menu or anywhere you see the Send Drink button.</p>
					<p>2) Your Friend will pick the establishment and the drink they want.</p>
					<p>3) Repeat this often to become extremely popular.</p>
    		</div>
    	</div>
    </ion-content>
</ion-view>
{if:elseif segment_3 == "redeem"}
<ion-view title="How It Works">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" has-tabs="false" id="mydrinks" ng-init="$root.hideLoading()" ng-controller="aboutCtrl">
		  <h3 center>To redeem a Drink</h3>
    	<div class="card">
    		<div class="item item-text-wrap">
					<p>1) Pick an Airtab Establishment.</p>
					<p>2) Select your Drink Type.</p>
					<p>3) Pick which friends drink to redeem.</p>
					<p>4) Show your phone to the server for the redemption code.</p>
					<p>4) Enjoy your drink! Don't forget to tip your server !!</p>
    		</div>
    	</div>

    </ion-content>
</ion-view>
{/if}
</div>