		{exp:low_search:results channel="drinks" child:drk_establishment="248" orderby="entry_date" sort="asc"}
			{
<?php
$content = <<<EOF
{fld_body}
EOF;
?>
				"id": "{entry_id}",
				"title": "{exp:low_replace find="QUOTE|NEWLINE" replace="\QUOTE|SPACE" multiple="yes"}{exp:mah_eencode decode="yes"}{title}{/exp:mah_eencode}{/exp:low_replace}",
				"content": <?=json_encode($content)?>,
				"teaser": "{drk_teaser}",
				"content_type": "{drink_content_type}",
				"html_content": {embed="iphone/menu_htmlcontent" drink_id="{entry_id}"},
				"photo": "{fld_picture:iphone5}",
				"banner": "{drink_banner:iphone5}",
				"type": "{drk_level}",
				"estId": "{drk_establishment:entry_id}"
			}{if count != total_results},{/if}
			{if no_results}
				{}
			{/if}
		{/exp:low_search:results}