<?php
// this line loads the library 
/*
require('/var/www/vhosts/airtab.me/httpdocs/sdks/twilio/Twilio.php'); 
 
		$account_sid = 'AC1532bd3920db504c8686c48bf33bb862'; 
		$auth_token = 'c4cfde2e822ddc33487830da54687684'; 
		$client = new Services_Twilio($account_sid, $auth_token); 
		 
		$client->account->messages->create(array( 
		    'To' => "8652351337", 
		    'From' => "+15614598055", 
		    'Body' => "Hey Eric, I'd love to be able to send you a drink via AirTab. Sign up at https://airtab.me/dashboard/#/invite/accept/test"
		));
		return "invited";
*/
?>