{embed="global/header"}

<body class="page page-id-2 page-template-default">

	<!--wrapper-->
	<div id="wrapper">
	
	<!--headercontainer-->
	<div id="header_container">
	
		<!--header-->
		<div id="header">
		
					<div id="logo"><a href="/index.html" title="It&#039;s On Us!"><img src="/assets/img/AirTabSilver.jpg" alt="" /></a></div><!--logo end-->
				
						
			</div><!-- header end-->
			<div class="clear"></div>
		</div><!--header container end-->		
		
	<div class="clear"></div>
		

	<!--menu end-->
		<!--content-->
		<div id="content">
		
			<div id="left-col">

				
				<div class="post-head">

			<h1>Prototype Images</h1>				
					
				</div><!--post-heading end-->
					
					<div class="post-entry">


<p><img src="/images/uploads/prototypes/01_Login.jpg" width="40" height="71" />&nbsp;&nbsp;<a href="/prototype/image/01_Login">Login</a></p>
<p><img src="/images/uploads/prototypes/02_Signup.jpg" width="40" height="71" />&nbsp;&nbsp;<a href="/prototype/image/02_Signup">Signup</a></p>
<p><img src="/images/uploads/prototypes/04-My_Drinks.jpg" width="40" height="71" />&nbsp;&nbsp;<a href="/prototype/image/04-My_Drinks">My Drinks</a></p>
<p><img src="/images/uploads/prototypes/04-My_Drinks-Drink_Selection.jpg" width="40" height="71" />&nbsp;&nbsp;<a href="/prototype/image/04-My_Drinks-Drink_Selection">My Drinks - Drink Selection</a></p>
<p><img src="/images/uploads/prototypes/04-My_Drinks-Locate_Bars.jpg" width="40" height="71" />&nbsp;&nbsp;<a href="/prototype/image/04-My_Drinks-Locate_Bars">My Drinks - Locate Bars</a></p>
<p><img src="/images/uploads/prototypes/04-My_Drinks-Locate_Bars-_Popup.jpg" width="40" height="71" />&nbsp;&nbsp<a href="/prototype/image/04-My_Drinks-Locate_Bars-_Popup">My Drinks - Locate Bars Popup</a></p>		
<p><img src="/images/uploads/prototypes/11-_Comments.jpg" width="40" height="71" />&nbsp;&nbsp<a href="/prototype/image/11-_Comments">Comments</a></p>		
<p>&nbsp;</p>
<p>&nbsp;</p>
						<div class="clear"></div>
												
					</div><!--post-entry end-->
					
					

</div> <!--left-col end-->

		<!--right-col-->
		<div id="right-col">

<p><img src="/images/uploads/prototypes/03-_Dashboard.jpg" width="40" height="71" />&nbsp;&nbsp<a href="/prototype/image/03-_Dashboard">Home</a></p>		
<p><img src="/images/uploads/prototypes/05-_Bars.jpg" width="40" height="71" />&nbsp;&nbsp<a href="/prototype/image/05-_Bars">Bars</a></p>
<p><img src="/images/uploads/prototypes/06-AirTab_A_Drink.jpg" width="40" height="71" />&nbsp;&nbsp<a href="/prototype/image/06-AirTab_A_Drink">AirTab A Drink</a></p>
<p><img src="/images/uploads/prototypes/07-_Invite_friends_popup.jpg" width="40" height="71" />&nbsp;&nbsp<a href="/prototype/image/07-_Invite_friends_popup">Invite Friends Popup</a></p>
<p><img src="/images/uploads/prototypes/07-_Invite_friends-Choose_Option.jpg" width="40" height="71" />&nbsp;&nbsp<a href="/prototype/image/07-_Invite_friends-Choose_Option">Invite Friends - Choose Option</a></p>
<p><img src="/images/uploads/prototypes/08_Notifications.jpg" width="40" height="71" />&nbsp;&nbsp<a href="/prototype/image/08_Notifications">Notifications</a></p>
<p><img src="/images/uploads/prototypes/09-About.jpg" width="80" height="71" />&nbsp;&nbsp<a href="/prototype/image/09-About">About</a></p>
<p><img src="/images/uploads/prototypes/12-_Rate_Bartendar.jpg" width="40" height="71" />&nbsp;&nbsp<a href="/prototype/image/12-_Rate_Bartendar">Rate Bartendar</a></p>

		</div>

</div> <!--content end-->
	
</div>
<!--wrapper end-->


{embed="global/footer"}