{embed="global/header"}

<body>	<!--wrapper-->
	<div id="wrapper">
	
	<!--headercontainer-->
	<div id="header_container">
	
		<!--header-->
		<div id="header">
		
					<div id="logo"><a href="/index.html" title="It&#039;s On Us!"><img src="/assets/img/AirTabSilver.jpg" alt="" /></a></div><!--logo end-->
				
						
			</div><!-- header end-->
			<div class="clear"></div>
		</div><!--header container end-->		
		
	<div class="clear"></div>
		

		<!--content-->
		<div id="content">
		
			<div id="left-col">

				
				<div class="post-head">

			<h1>Prototype Images</h1>				
					
				</div><!--post-heading end-->
					
					<div class="post-entry">
					{exp:channel:entries channel="prototype"}
					<li><a href="{title_permalink="prototype/view"}">{title}</a></li> 
					{/exp:channel:entries}

						<div class="clear"></div>
												
					</div><!--post-entry end-->
					
					

</div> <!--left-col end-->


</div> <!--content end-->
	
</div>
<!--wrapper end-->




{embed="global/header"}