{exp:airtab:log_page_load}
{if logged_in}
{preload_replace:template_group="store"}
{preload_replace:template="index"}

<ion-view title="Payment Information">
	<ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-init="hideNav()">
		<div ng-controller="promoController">
			<h5 style="text-align:center">You have been granted promotional rights. You do not need to enter any payment details.</h5>
			<input type="submit" id="checkout_complete" class="button button-block button-assertive"  value="Send Drink" ng-click="createTicket('{segment_4}', '{segment_3}', '{segment_5}')" />
		</div>
    </ion-content>
</ion-view>	

{if:else}
	<iframe src="airtab:notLoggedIn" style="display:none">
{/if}