
{if logged_out}
	{redirect="mobile/login"}
{/if}
{exp:airtab:log_page_load}
{if segment_3 == ""}
<ion-view title="My Drinks">
	<ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-init="hideNav();" has-tabs="true" id="mydrinks">
    	<div class="list" ng-controller="myDrinks" ng-init="getDrinks();" ng-bind-html="drinks">
		</div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
		<button class="button button-block button-assertive" onClick="window.location.href='#/senddrink/right';">
		  Send A Drink
		</button>
	</ion-footer-bar>
</ion-view>
{/if}

{if segment_3 == "options"}
<ion-view title="AirTab Friends">
	<ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-init="hideNav()" has-tabs="true">
			<div class="list">
				<div class="item item-avatar-left item-icon-right ">
					{exp:member:custom_profile_data member_id="{segment_4}"}
						<img src="{exp:airtab:avatar member="{segment_4}" size="90"}" width="40" height="40">
						<h2>{screen_name}</h2>
						<p>{username}</p>
					{/exp:member:custom_profile_data}		
				</div>
			</div>
			<button class="button  button-block icon ion-wineglass button-assertive" onClick="window.location.href='#/payment/Premium/{segment_4}';"> Send Drink</button>
			<button class="button  button-block icon ion-trash-a button-assertive"> Remove from Friends</button>
    </ion-content>
</ion-view>
{/if}