{embed="global/meta" title="AirTab - Home"}

<body>

	{embed="global/header"}

	<!-- Begin Hero -->
	<section id="section1" class="hero container">
		<div class="sixteen columns"><h1>Introducing AirTab.</h1></div>
		<ul class="action sixteen columns">
			<li><a class="button" href="{path='/register'}">Download now<i class="go"></i></a></li>
			<li><a class="button" href="#section6">See the gallery<i class="grid"></i></a></li>
		</ul>
	</section>
	<!-- End Hero -->

	<!-- Begin Overview -->
	<section id="section2" class="overview container">

		<h2 class="sixteen columns">An innovative and easy to use social gifting application.</h2>
		<p class="sub-heading twelve columns offset-by-four">
		Send all of your friends, family, & co-workers drinks, tickets, & more through AirTab! 
		You can purchase and gift friends drinks from anywhere, at any time with the click of a button. 
		Redeem personalized cocktails at any AirTab friendly establishment. 
		Search for bars and restaurants in your vicinity and get clued in on all of the events 
		happening at your favorite places! AirTab also offers the opportunity to purchase a 
		variety of tickets to charity events, concerts, sporting events, as well as beverages 
		and other promotional items. Download AirTab today!</p>
		<br class="clear">

		<!-- Content Boxes -->
		<div class="content-box one-third column">
			<img src="/assets/airtab/img/icons/users.png" alt="">
			<h3>Users</h3>
			<p>Are you interested in learning more about the AirTab App? Click here to sign up and register. It's free!</p>
			<a class="button" href="{path='/register'}">Learn more <i class="more"></i></a>
		</div>
		<div class="content-box one-third column">
			<img src="/assets/airtab/img/icons/bars.png" alt="">
			<h3>Merchants</h3>
			<p>Don't be the only place in town to miss out on this opportunity. Sign up your bar, restaurant, or nightclub NOW to generate more business!</p>
			<a class="button" href="{path='/register/establishment'}">Learn more <i class="more"></i></a>
		</div>
		<div class="content-box one-third column">
			<img src="/assets/airtab/img/icons/promoters.png" alt="">
			<h3>Job Opportunities</h3>
			<p>Want to put those networking skills to good use? Let us know what you're made of!</p>
			<a class="button" href="{path='/register/promoter'}">Learn more <i class="more"></i></a>
		</div>
	</section>
	<!-- End Overview -->

	<!-- Begin Static -->
	<section id="section3" class="static container">
		<img class="sidephone-small" src="/assets/airtab/img/sidephone-small.png" alt="">
		<img class="sidephone-big" src="/assets/airtab/img/sidephone-big.png" alt="">

		<!-- Content -->
		<div class="sixteen columns offset-by-eight">
			<h2>Sending a gift has never been easier!</h2>
			<p>Buy a drink and send it to a friend through your smart phone. 
			It's that easy! Choose from 2 tiers of drinks, Premium and Standard then your buddy 
			can choose which cocktail he wants from the bar's menu. Make a good impression and 
			send your boss to a football game on his birthday! Just purchase the tickets through 
			AirTab and have them delivered to his phone in minutes. The possibilities are endless!</p>
			<a class="button" href="{path='/register'}">Learn more <i class="more"></i></a>
		</div>
	</section>
	<!-- End Static -->



	<!-- Begin Gallery -->
	<section id="section6" class="gallery container">
		<h2 class="sixteen columns">Check out AirTab.</h2>
		<br class="clear">
		<!-- Slider -->
		<ul class="gallery-bxslider clearfix">
			<li>
				<div class="one-third column screenshot">
					<img src="/assets/airtab/img/gallery/gallery1.jpg" alt="">
				</div>
				<div class="one-third column screenshot">
					<img src="/assets/airtab/img/gallery/gallery2.jpg" alt="">
				</div>
				<div class="one-third column screenshot">
					<img src="/assets/airtab/img/gallery/gallery3.jpg" alt="">
				</div>
			</li>
			<li>
				<div class="one-third column screenshot">
					<img src="/assets/airtab/img/gallery/gallery4.png" alt="">
				</div>
				<div class="one-third column screenshot">
					<img src="/assets/airtab/img/gallery/gallery5.jpg" alt="">
				</div>
				<div class="one-third column screenshot">
					<img src="/assets/airtab/img/gallery/gallery6.jpg" alt="">
				</div>
			</li>
		</ul>

		<!-- Pager -->
		<div id="gallery-pager"></div>
		<div class="small-border"></div>

	</section>
	<!-- End Gallery -->

	<!-- Begin Subscribe -->
	<section class="subscribe container">
		<h2>Subscribe to our newsletter.</h2>
		<form action="#" method="post" class="clearfix">
			<input type="text" name="email" value="" class="text">
			<input type="submit" value="Subscribe now" name="subscribe" class="submit" id="subscribe">
			<p class="sub-heading twelve columns offset-by-four">Sign up for our newsletter for special offers!</p>
			<div class="notification success closeable sixteen columns">
				<p><strong>Success!</strong> You have subscrbied to some email goodness.</p>
			</div>
			<div class="notification error closeable sixteen columns">
				<p><strong>Oops!</strong> Something is wrong, maybe double checking your email will help.</p>
			</div>
		</form>
		<div class="small-border"></div>
		<ul class="social-list clearfix">
			<li><a href="https://www.facebook.com/airtabapp" target="_blank"><img src="/assets/airtab/img/icons/facebook.png" alt=""></a></li>
			<li><a href="https://twitter.com/AirtabApp" target="_blank"><img src="/assets/airtab/img/icons/twitter.png" alt=""></a></li>
			<li><a href="#" target="_blank"><img src="/assets/airtab/img/icons/linkedin.png" alt=""></a></li>
		</ul>
			
	</section>
	<!-- End Subscribe -->

	<!-- Begin Footer -->
	<footer>
		<div class="container">
			<ul class="footer-action">
				<li><a class="button small" href="https://itunes.apple.com/us/app/airtab/id775158689?mt=8&uo=4">Download now<i class="go small"></i></a></li>
				<li><a id="top" class="button small" href="#">Back to top<i class="top"></i></a></li>
				<li><a class="button small" href="/terms">Terms of Use</a></li>
			</ul>
			<p class="copyright">&copy; 2014 Software Development Associates. All Rights Reserved.</p>
		</div>
	</footer>
	<!-- End Footer -->


	<!-- Javascript -->
	<script src="/assets/airtab/js/libs/prototype.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/libs/scriptaculous.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/libs/sizzle.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/smoothscroll.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/jquery.easing.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/jquery.scrollto.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/jquery.localscroll.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/jquery.bxslider.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/waypoints.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/loupe.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/notifications.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/airtab/js/init.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>