{if segment_3 == ""}
<div ng-cloak>
<ion-view title="Add A Friend" ng-init="$root.hideLoading();">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-controller="friendCtrl">
    	<div class="list card">
    		<a href="#/app/addfriend/username" class="item item-icon-left item-icon-right">
				<i class="icon ion-person"></i>
				AirTab Username
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			
			<a ng-click="inviteFacebookFriends('myFriends');" class="item item-icon-left item-icon-right">
				<i class="icon ion-ios7-telephone"></i>
				Add Friend via Facebook
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
							 
			<a href="#/app/addfriend/email" class="item item-icon-left item-icon-right">
				<i class="icon ion-email"></i>
				Add Friend via Email
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			
			<div class="item-divider"></div>
				
			<div class="item-divider">Invite Friend via Text Message</div>

				<a href="#/app/addfriend/text" class="item item-icon-left item-icon-right">
					<i class="icon ion-ios7-telephone"></i>
					Enter Phone Number
					<i class="icon ion-chevron-right icon-accessory"></i>
				</a>

				<a ng-click="addFriendByText()" class="item item-icon-left item-icon-right">
					<i class="icon ion-android-contact"></i>
					Phone Contact
					<i class="icon ion-chevron-right icon-accessory"></i>
				</a>

			<!-- Hide These Until We Have The Interface Functional
			<a href="#/addfriend/facebook" class="item item-icon-left item-icon-right">
				<i class="icon ion-social-facebook"></i>
				Facebook Friend
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>-->

		</div>
    </ion-content>
</ion-view>
</div>
{/if}

{if segment_3 == "username"}
<div ng-cloak>
<ion-view title="Invite by Username" ng-init="$root.hideLoading();">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
	<ion-content has-header="true" padding="true" ng-controller="addFriendByUsername">
		<form name="inviteFormUsername" ng-submit="submitForm()">
			<div class="list">
				<div class="item-divider">Enter an AirTab username to which you would like to text a friend request:</div>
				<label class="item item-input">
					<input 
					type="text"
					placeholder="AirTab Username"
					data-ng-model="invite.username"
          required
          data-ng-minlength="4">
				</label>
				<!--
				<label class="item item-input">
					<textarea
					rows="6"
					placeholder="Your Message"
					data-ng-model="invite.message"
          data-ng-minlength="3">
					</textarea>
				</label>
				-->
			</div>
			<button type="submit" class="button button-block button-assertive" ng-disabled="!canSubmit()">Send Invitation</button>
		</form>
		
    </ion-content>
</ion-view>
</div>
{/if}

{if segment_3 == "email"}
<div ng-cloak>
<ion-view title="Invite by Email" ng-init="$root.hideLoading();">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-controller="addFriendByEmail">
		<form name="inviteFormEmail" ng-submit="submitForm()">
			<div class="list">
				<div class="item-divider" ng-if="invite.name">Send a friend request to the contact below:</div>
				<div class="item-divider" ng-if="!invite.name">Enter an email address to which you would like to send a friend request:</div>
				<label class="item item-input" ng-if="invite.name">
					<input 
					type="text"
					placeholder="Email Address"
					data-ng-model="invite.name">
				</label>
				<label class="item item-input">
					<input 
					type="email"
					placeholder="Email Address"
					data-ng-model="invite.email"
                    required
                    data-ng-minlength="4">
				</label>
				<label class="item item-input">
					<textarea 
					rows="6"
					placeholder="Your Message"
					data-ng-model="invite.message"
                    data-ng-minlength="3"
					></textarea>
				</label>
			</div>
			<button type="submit" class="button button-block button-assertive" ng-disabled="!canSubmit()">Send Invitation</button>
		</form>
		
    </ion-content>
</ion-view>
</div>
{/if}

{if segment_3 == "text"}
<div ng-cloak>
<ion-view title="Invite by Text" ng-init="$root.hideLoading();">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-controller="addFriendByText">
		<form name="inviteFormText" ng-submit="submitForm()">
			<div class="list">
				<div class="item-divider" ng-if="invite.name">Send a friend request to the contact below:</div>
				<div class="item-divider" ng-if="!invite.name">Enter a mobile number to which you would like to text a friend request:</div>
				<label class="item item-input" ng-if="invite.name">
					<input 
					type="text"
					placeholder="Contact Name"
					data-ng-model="invite.name">
				</label>
				<label class="item item-input">
					<input 
					type="tel"
					placeholder="Phone Number"
					data-ng-model="invite.phone"
                    required
                    data-ng-pattern="/^[0-9]+$/"
                    data-ng-minlength="10"
                    data-ng-maxlength="11"
                    maxlength="11">
				</label>
				<label class="item item-input">
					<textarea
					rows="6"
					placeholder="Your Message"
					data-ng-model="invite.message"
          data-ng-minlength="3">
					</textarea>
				</label>
			</div>
			<button type="submit" class="button button-block button-assertive" ng-disabled="!canSubmit()">Send Invitation</button>
		</form>
		
    </ion-content>
</ion-view>
</div>
{/if}

{if segment_3 == "contacttext"}
<div ng-cloak>
<ion-view title="Invite by Text Contact" ng-init="$root.hideLoading();">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-controller="addFriendByText">
		<form name="inviteFormText" ng-submit="submitForm()">
			<div class="list">
				<div class="item-divider" ng-if="invite.name">Send a friend request to the contact below:</div>
				<div class="item-divider" ng-if="!invite.name">Enter a mobile number to which you would like to text a friend request:</div>
				<label class="item item-input" ng-if="invite.name">
					<input 
					type="text"
					placeholder="Contact Name"
					data-ng-model="invite.name">
				</label>
				<label class="item item-input">
					<input 
					type="tel"
					placeholder={segment_4}
					data-ng-model="invite.phone"
                    required
                    data-ng-pattern="/^[0-9]+$/"
                    data-ng-minlength="10"
                    data-ng-maxlength="11"
                    maxlength="11">
				</label>
				<label class="item item-input">
					<textarea
					rows="6"
					placeholder="Your Message"
					data-ng-model="invite.message"
          data-ng-minlength="3">
					</textarea>
				</label>
			</div>
			<button type="submit" class="button button-block button-assertive" ng-disabled="!canSubmit()">Send Invitation</button>
		</form>
		
    </ion-content>
</ion-view>
</div>
{/if}

{if segment_3 == "contact" AND segment_4 == "text"}
<div ng-cloak>
<ion-view title="Invite by Text">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-controller="addFriendByContactText">
		<form name="inviteFormText" ng-submit="submitForm()">
			<div class="list">

				<label class="item item-input">
					<input 
					type="tel"
					placeholder="Phone Number"
					data-ng-model="invite.phone"
                    required
                    data-ng-pattern="/^[0-9]+$/"
                    data-ng-minlength="10">
				</label>
				<!--
				<label class="item item-input">
					<textarea 
					rows="6"
					placeholder="Your Message"
					data-ng-model="invite.message"
                    data-ng-maxlength = "160"
                    maxlength="160"
					></textarea>
				</label>-->
			</div>
			<button type="submit" class="button button-block button-assertive" ng-disabled="!canSubmit()">Send Invitation</button>
		</form>
		
    </ion-content>
</ion-view>
</div>
{/if}


{if segment_3 == "contact" AND segment_4 == "email"}
<div ng-cloak>
<ion-view title="Invite by Email">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-controller="addFriendByContactEmail">
		<form name="inviteFormEmail" ng-submit="submitForm()">
			<div class="list">
				<label class="item item-input">
					<input 
					type="text"
					placeholder="First Name"
					data-ng-model="invite.first_name">
				</label>
				<label class="item item-input">
					<input 
					type="text"
					placeholder="Last Name"
					data-ng-model="invite.last_name">
				</label>
				<label class="item item-input">
					<input 
					type="email"
					placeholder="Email Address"
					data-ng-model="invite.email"
                    required
                    data-ng-minlength="4">
				</label>
				<!--
				<label class="item item-input">
					<textarea 
					rows="6"
					placeholder="Your Message"
					data-ng-model="invite.message"
                    data-ng-maxlength = "300"
                    maxlength="160"
					></textarea>
				</label> -->
			</div>
			<button type="submit" class="button button-block button-assertive" ng-disabled="!canSubmit()">Send Invitation</button>
		</form>
		
    </ion-content>
</ion-view>
</div>
{/if}

{if segment_3 == "airtab"}
	{exp:airtab:process_friend_invite_member id="{segment_4}"}
{/if}
