{exp:airtab:log_page_load}
<div ng-cloak>
<ion-view title="Veune Dashboard" ng-init="loadVenue({segment_3})"  ng-controller="dashboardCtrl">
	<ion-nav-buttons side="{{$root.menuSide}}">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
	<ion-nav-buttons side="right" ng-if="showEdit">
		<button class="button button-icon button-clear" ng-click="editMenu()">
			<i class="icon ion-plus"></i>
		</button>
	</ion-nav-buttons>
	<ion-tabs class="tabs-striped tabs-background-assertive tabs-color-light" ng-init="$root.hideLoading()">

		<ion-tab title="Main">		
		
			<ion-content has-header="true" padding="true" has-tabs="true">
        <img src="{{venueInfo.photo_large}}" style="width:100%;height:auto;"/>
				<div style="text-align:center;padding:10px" padding="true">
          <h4>{{venueInfo.name}}</h4>
					<p>{{venueInfo.address}}<br />{{venueInfo.city}}, {{venueInfo.state}} {{venueInfo.zip}}</p>
					<p>Contact: {{venueInfo.contact}}    Phone: {{venueInfo.phone}}</p>
 				</div>
				
			</ion-content>
		</ion-tab>	
		
		<ion-tab title="Menu" on-select="onMenuTabSelected()" on-deselect="onMenuTabDeselected()">		
		
			<ion-content has-header="true" padding="true" has-tabs="true">
				<div class="card">
					<div class="item item-text-wrap">
						<h1 center style="font-size:16pt">{{ venueInfo.name }}</h1>
					</div>
				</div>
			<ul class="list">
				<li class="item" ng-repeat="item in menuInfo" style="font-size:10pt">
					<div ng-click="togglePic({{item.menuID}})">
					{{item.name}}
					<span class="item-note">{{item.price}}</span>
					<div ng-show="item.showpic">
						<img src="{{item.fld_picture}}" width="160" height="160" class="service-icon">
					</div>
					</div>
				</li>
			</ul>
      <div class="card" ng-show="opt_in">
        <div class="item item-text-wrap">
          <p style="font-size:10pt">For <strong>Party of 4, Just For Two, Gratitude, Prelude and Appetizers,</strong> you will receive 85% of the proceeds, <strong>Premium & Standard Drinks</strong> you receive 70% of the proceeds, and all <strong>Gift Vouchers</strong>, you receive 90% of the proceeds. <br /><br />
Click agree button to select the campaigns that you would like to participate in.</p>
          <button class="button  button-block button-assertive" ng-click="Agreed()">I Agree</button>
        </div>
      </div>
      <div class="card" ng-show="pick_menu">
        <div class="item item-text-wrap">
          <h1 center style="font-size:16pt">You must opt-in to each campaign in order for you to be a part of each offer.<br /></h1>
          <ion-toggle ng-repeat="item in stdMenuInfo" ng-model="item.provided" ng-checked="item.provided" style="font-size:10pt">
            {{item.name}}
          </ion-toggle>
          <button class="button  button-block button-assertive" ng-click="SaveSelections()">Save Selections</button>
        </div>
      </div>
				
			</ion-content>
		</ion-tab>	
		
		<ion-tab title="Tickets">		
		
			<ion-content has-header="true" padding="true" has-tabs="true">
				<ion-refresher
					pulling-text="Pull to refresh..."
					on-refresh="doTicketRefresh({segment_3})">
				</ion-refresher>
				<div class="card">
					<div class="item item-text-wrap">
						<h1 center style="font-size:16pt">{{ venueInfo.name }}</h1>
					</div>
				</div>
			<ul class="list">
				<li class="item" ng-repeat="item in ticketInfo" style="font-size:10pt">
					{{item.name}}
					<span class="item-note">{{item.date}}</span>
				</li>
			</ul>
				
			</ion-content>
		</ion-tab>	
	
		<ion-tab title="Servers">		
		
			<ion-content has-header="true" padding="true" has-tabs="true">
				<div class="card">
					<div class="item item-text-wrap">
						<h1 center style="font-size:16pt">{{ venueInfo.name }}</h1>
					</div>
				</div>
				
			</ion-content>
		</ion-tab>	
	
	</ion-tabs>		
</ion-view>

</div>