{!--

 --}


{exp:airtab:log_page_load}
<div ng-cloak>
<style type="text/css">
	.button.button-block, .button.button-full {
		margin-top:0;
	}
</style>


{!-- Original --}
{if segment_3 == ""}

<ion-view title="My Drinks & Gifts" ng-init="$root.hideLoading();">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
 
    
	<ion-content has-header="true" padding="true" ng-controller="mydrinksController">
  	<ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="doRefresh()">
		</ion-refresher>  
    	<div class="list" ng-init="getDrinksWithMsg()" >
  		    
             <div ng-repeat="drinkMsg in $root.drinksWithMsg">
		     
		     <div class="list card" ng-change="replyToDrinkSender( '{{drinkMsg.id}}',  '{{drinkMsg.usr}}' );" >
		     				<div style="width: 100%; overflow: hidden;">
				    			
				    			<div style="width:15%; float: left; border-width: 1px; border-style: solid; border-color: transparent; margin-top:10px;"> 
					    			<div ng-if="drinkMsg.image != ''"> 
			 					          <img src="//airtab.me/avatar/?file={{drinkMsg.image}}" width="40" height="40" style="vertical-align: middle;" > 			 					          
				    				</div>				    								    				
			    				</div>
			    				

			    				<div style="width:70%; float: left; border-width: 1px; border-style: solid; border-color: transparent;"> 
				           		 
				           		 <img src="/images/ios7-person-outline.png" width="24" height="24" style="vertical-align: top;" > 		           					
					           	 {{drinkMsg.usr}}<br>   
				           		 
				           		 <img src="/images/clock.png" width="24" height="24" style="vertical-align: top;" > 		           					
				           		 {{drinkMsg.date}} <br>
				           		 
				           		  			    				
 			    				 <div ng-click="replyToDrinkSender( '{{drinkMsg.id}}', '{{drinkMsg.usr}}' );"> 
 				           	    	 	<img src="/images/ios7-chatboxes-outline.png" width="30" height="30" style="vertical-align: top;" > 		           					  				           		
   				           				<span style="font-size:0.75em"><font color="red"> {{drinkMsg.msg}} </font></span>                                    
 				    			 </div>
 	
 						    	  <a href="#/app/mydrinksinfo/{{drinkMsg.redeemed_drink_id}}">  
					    	    <div ng-if="drinkMsg.type == 'Standard' || drinkMsg.type == 'Premium'"> 					    	    
		  				           <img src="/images/wineglass.png" width="24" height="24" style="vertical-align: top;"> 		           					  				           		
		 				           <span style="font-size:0.75em"><font color="blue">Good for 1 {{drinkMsg.type}} drink.</font></span>                                    				           	    	  				           		 				    			 
  			    				</div>
  			    				
					    	    <div ng-if="drinkMsg.type != 'Standard' && drinkMsg.type != 'Premium'"> 					    	    
		  				        <img src="/images/gift2.png" width="24" height="24" style="vertical-align: top;"> 		           					  				           		
		 				          <span style="font-size:0.75em"><font color="blue">{{drinkMsg.type}}</font></span>                                    				           	    	  				           		 				    			 
  			    				</div>
                    </a>
 			    			
 								{if {logged_in_member_id} == "2" }      
		     				    ...............................<br>
		     				    ticket_id: {{drinkMsg.ticket_id}} <br>
										type: {{drinkMsg.type}} <br>
		     				    redeemed_at: {{drinkMsg.redeemed_at}} <br>
		     				    redeemed_drink_id: {{drinkMsg.redeemed_drink_id}}<br>
		     				    entry_id: {{drinkMsg.entry_id}}<br>
		     				    
		     				    {/if}
 				           		 					           	
			    				</div>			    				
		     				    
		     				    {!-- transparent --}
		     				    
		     				    <div align="center" style="width:15%; float: left; border-width: 1px; border-style: solid; border-color: transparent;  margin-top:1px; align : center; " )"> 			    				
		           					
					    			<div ng-if="drinkMsg.redeemed_at == 'AnyWhere'"  ng-click="redeemDrink( '{{drinkMsg.entry_id}}', '{{drinkMsg.usr}}' , '{{drinkMsg.date}}', '{{drinkMsg.type}}');"> 
 		 					        <img src="/images/Bar-128.png" width="28" height="28" style="vertical-align: middle;"> 		           					
			           				<br>
			           				<span style="font-size:0.6em"><font color="black">redeem</small></font></span>                                    
 				    				</div>	
 				    						
 					    			<div ng-if="drinkMsg.redeemed_at != 'AnyWhere'"  ng-click="redeemDrinkAt( '{{drinkMsg.entry_id}}', '{{drinkMsg.redeemed_at}}' , '{logged_in_member_id}', '{{drinkMsg.redeemed_drink_id}}');"> 
 										<img src="/images/Bar-128.png" width="28" height="28" style="vertical-align: middle;"> 		           					
			           					<br>
			           					<span style="font-size:0.6em"><font color="black">redeem at</small></font></span>                                    
 				    				</div>			    	

				    				<div  ng-click="drinkRegiftNew( '{{drinkMsg.entry_id}}', '{{drinkMsg.redeemed_at}}' , '{{drinkMsg.redeemed_drink_id}}');">			    	
										<img src="/images/regift.jpg" width="28" height="28" style="vertical-align: middle;"> 
			           					<br>
			           					<span style="font-size:0.6em"><font color="red">regift</small></font></span>                                    
				    				</div>			    	
                                    
		     
								</div>
								</div>
								</div>
		           
			</div>
			
	   </div>

		
    </ion-content>
		 
 {!--  
    
<ion-footer-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button">Left Button</button>
  </div>
  <h1 class="title"></h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar>

			  <div class="buttons" ng-click="gotoPromo( 'promo' );">
				  <button class="button">Promo Code</button>				  
			  </div>
	 			 <h1 class="title"></h1>
			  			  
			  <div class="buttons" ng-click="gotoPromo( 'promo' );">
				  <h1 class="title">How To Redeem</h1>
				  <button class="button">How To Redeem</button>				  
			  </div>

		  --}


		<ion-footer-bar align-title="center" class="bar-assertive" ng-controller="mydrinksController">
			  <div class="buttons" ng-click="gotoPromo( 'promo' );">
				  <button class="button">Promo Code</button>				  
			  </div>
	 			 <h1 class="title"></h1>
			  			  
			  <div class="buttons" ng-click="gotoPromo( 'how_to_redeem' );">
				  <button class="button" >How To Redeem</button>				  
			  </div>
			  		  
		</ion-footer-bar>
				
    
</ion-view>


{if:elseif segment_3 == "modal"}
<div class="modal" id="modalWindow" ng-controller="myDrinks">
  <ion-header-bar class="bar bar-header bar-stable">
    <button class="button button-clear button-primary" ng-click="$root.hideModal()" id="hideModal"><i class="icon ion-arrow-left-c"></i></button>
    <h1 class="title">Redeem Which Gift?</h1>
  </ion-header-bar>
  <ion-content ng-init="$root.hideLoading()">
    <div class="list" ng-controller="myDrinks" ng-init="getDrinks(true);" compile="drinks">
		</div>
  </ion-content>
</div>
{if:elseif segment_3 == "options"}
<ion-view title="My Drinks/Gifts">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content ng-init="$root.hideLoading() id="drinkInfo" ng-controller="myDrinks">
			<div>

			</div>
			<button class="button  button-block icon ion-wineglass button-assertive" ng-click="redeemDrink({segment_4})"> Redeem Drink</button>
			<button class="button  button-block  button-assertive" ng-click="regiftDrink({segment_4})"> reGift Drink</button>

    </ion-content>
</ion-view>
</div>

{if:elseif segment_3 == "promo"}
<div ng-cloak>
<ion-view title="Promo Code" ng-init="$root.hideLoading();">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
	<ion-content has-header="true" padding="true" ng-controller="mydrinksController">
		<form name="inviteFormUsername" ng-submit="sendPromo( 'promo' );">
			<div class="list">
				<div class="item-divider">Promo Code:</div>
				<label class="item item-input">
					<input 
					type="text"
					placeholder="Promo Code"
					data-ng-model="promo.code" >
				</label>
				
				<!--
				<label class="item item-input">
					<textarea
					rows="6"
					placeholder="Your Message"
					data-ng-model="invite.message"
                    data-ng-minlength="3">
					</textarea>
				</label>
				-->
			</div>

		    <button class="button button-block button-assertive" ng-click="sendPromo( 'promo' );">
			Submit
			</button>	
						
		</form>
		
    </ion-content>
</ion-view>
</div>

{/if}

{!-- Original --}

</div>