{exp:airtab:log_page_load}
<div ng-cloak>
{if segment_3 == "to"}
<ion-view title="Send Gift" ng-controller="SendgiftCtrl" ng-init="$root.hideLoading()">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true" ng-init="hideLoading()">
    	<div class="list card">
    		<div class="item-divider">Directly via AirTab</div>

			<a href="#/app/sendgift/airtab/{segment_4}" class="item item-icon-left item-icon-right" ng-click="$root.showLoading()">
				<i class="icon ion-android-friends"></i>
				AirTab Friend
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>

			<a href="#/app/sendgift/username/{segment_4}" class="item item-icon-left item-icon-right" ng-click="$root.showLoading()">
				<i class="icon ion-person"></i>
				By AirTab Username
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>

			<div class="item-divider">Email</div>			
			
			<a href="#/app/sendgift/email/{segment_4}" class="item item-icon-left item-icon-right" ng-click="$root.showLoading()">
				<i class="icon ion-email"></i>
				By Email
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
	<!--		
			<a ng-click="sendDrinkByContactsEmail()" class="item item-icon-left item-icon-right">
				<i class="icon ion-android-friends"></i>
				By Email Via Phone Contacts
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
	-->		
			<div class="item-divider">Text Message</div>

			<a href="#/app/sendgift/text/{segment_4}" class="item item-icon-left item-icon-right">
				<i class="icon ion-ios7-telephone"></i>
				By Text Message
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>

			<a ng-click="sendByContactsText( '{logged_in_member_id}', '{segment_4}' )" class="item item-icon-left item-icon-right">
				<i class="icon ion-android-friends"></i>
				By Text Via Phone Contacts
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>


			<!--
			<a href="#/senddrink/facebook" class="item item-icon-left item-icon-right">
				<i class="icon ion-android-friends"></i>
				Facebook
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			-->
		</div>

		<button class="button button-full icon-left ion-social-facebook button-positive" ng-click="$root.fbShare('http://airtab.me', 'AirTab', 'An innovative and easy to use social gifting application', 'Send all of your friends, family, & co-workers drinks, tickets, & more through AirTab! You can purchase and gift friends drinks from anywhere, at any time with the click of a button.', '')">Share on Facebook</button>
    </ion-content>
</ion-view>

{/if}


{if segment_3 == "airtab"}
<?php $member = ee()->session->userdata('member_id'); ?>
<div class="bar bar-subheader bar-dark">
  <h4 class="title smaller-title">Select a recipient.</h4>
</div>
<ion-view title="Send Gift">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-init="$root.hideLoading()" id="checkoutModal" class="has-subheader">
    	<div class="list">
    	{exp:query sql="SELECT * FROM v_friends WHERE  status = 'Approved' and ( sender_id=<?=$member?> or friend_id=<?=$member?>) ORDER BY CASE friend_id WHEN <?=$member?>  THEN sender_screen_name ELSE friend_screen_name END ASC"}
			{if sender_id == <?=$member?>}
				{embed="ios/friend_info_bottle" member_id="{friend_id}" status="{status}" drinkType="Premium" recipient="{friend_id}" type="senddrink" gift="{segment_4}"}
			{if:else}
				{embed="ios/friend_info_bottle" member_id="{sender_id}" status="{status}" drinkType="Premium" recipient="{sender_id}" type="senddrink" gift="{segment_4}"}
			{/if}
			{if no_results}You do not currently have any AirTab friends. Try adding some!{/if}
		{/exp:query}

		</div>
    </ion-content>
</ion-view>
{/if}

{if segment_3 == "contacts"}
<ion-view title="Contacts">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-init="hideLoading()">
    	<div class="list">

    		<a href="#/app/senddrink/email" class="item item-icon-left item-icon-right">
				<i class="icon ion-email"></i>
				By Email
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>

			<a href="#/app/senddrink/text" class="item item-icon-left item-icon-right">
				<i class="icon ion-ios7-telephone"></i>
				By Text Message
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>

		</div>
    </ion-content>
</ion-view>
{/if}

{if segment_3 == "facebook"}
<ion-view title="Facebook Friend">
	<ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
    	<div class="list">

		</div>
    </ion-content>
</ion-view>
{/if}

{if segment_3 == "username"}
<ion-view title="Send By Username">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    	<ion-content has-header="true" padding="true" ng-init="$root.hideLoading()">
		<form name="inviteFormUsername" ng-submit="submitFormBottle( '{logged_in_member_id}', '{segment_4}' )" ng-controller="SendgiftCtrl">
			<div class="list">
				<div class="item-divider">Enter the AirTab username of the person to which you would like to send a gift:</div>
				<label class="item item-input">
					<input 
					type="text"
					placeholder="AirTab Username"
					data-ng-model="invite.username"
                    required
                    data-ng-minlength="4">
				</label>
			</div>
			<button type="submit" class="button button-block button-assertive" ng-disabled="!canSubmit()">Send Gift</button>
		</form>
		
    </ion-content>
</ion-view>
{/if}


{if segment_3 == "email"}
<ion-view title="Send By Email" ng-init="hideLoading()">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" id="sendDrinkContacts" ng-controller="SendgiftCtrl">
		<form name="form_sendDrinkEmail" ng-submit="submitFormBottleEmail( '{logged_in_member_id}', '{segment_4}' )">
			<div class="list">
				<label class="item item-input">
					<input 
						type="email" 
						name="email" 
						placeholder="Enter Email Address"
						data-ng-model="invite.email"
                        required
                        data-ng-minlength="4">
				</label>
			</div>
			<input type="submit" name="submit" class="button button-block button-assertive" value="Send Gift" ng-disabled="!canSubmit()" />
		</form>
    </ion-content>
</ion-view>
{/if}

{if segment_3 == "text"}
<ion-view title="Send By Text" ng-init="hideLoading()">
	<ion-nav-buttons side="{{$root.menuSide}}">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" id="sendDrinkContacts" ng-controller="SendgiftCtrl">
		<form name="form_sendDrinkText" ng-submit="submitFormBottleText( '{logged_in_member_id}', '{segment_4}' )">
			<div class="list">
				<label class="item item-input">
					<input 
						type="text" 
						name="phone" 
						placeholder="Enter Phone Number"
						data-ng-model="invite.phone"
                        ng-pattern="/\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}/"
                        required ng-minlength="10"
                        ng-maxlength="15"
                        pattern="[0-9]*">
				</label>
				<label class="item item-input">
					<textarea rows="6" name="message" placeholder="Your Message"
						data-ng-model="invite.message"
                        data-ng-maxlength="250"></textarea>
				</label>
			</div>
			<input type="submit" name="submit" class="button button-block button-assertive" value="Send Gift" ng-disabled="!canSubmitText()" />
		</form>
    </ion-content>
</ion-view>
{/if}
</div>