{!--  
     Author: John W. Blaine
     File Name: sql_notifications_blast.html
     Date: 01/05/2015
     
     Description : Get Friends' List.
                   Insert the name of establishment, establishment ID and member ID into the database.
                   The PHP "at_user_recommend" module/function is in mod.airtab.php file.           

--}

{exp:airtab:notifications_blast member_id="952"}
{/exp:airtab:notifications_blast}
{exp:http_header content_type="application/json"}







  			