{!--  
     Author: John W. Blaine
     File Name: sql_promo_drinks.html
     Date: 01/05/2015
     
     Description : Send promotion drink to a member.
				   Sender : 'AirtabBartender' (mmeber id = 587)
				   
{exp:airtab:sql_promo_drinks sender_id="587" promo_code="{segment_3}" type="airtab"  recipientID="{logged_in_member_id}" estID="2275" drinkType="1270" message="Enjoy your drink!"}
{exp:airtab:sql_promo_drinks sender_id="587" promo_code="{segment_3}" type="airtab"  recipientID="{logged_in_member_id}" estID="248" drinkType="Premium" message="Enjoy your drink!"}

--}


{exp:airtab:sql_promo_drinks sender_id="587" promo_code="{segment_3}" type="airtab"  recipientID="{logged_in_member_id}" estID="AnyWhere" drinkType="Premium" message="Enjoy your drink!"}

{/exp:airtab:sql_promo_drinks}








  			